<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="samdev.de.mvuprobelokalapp" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SorryMail"
            android:label="@string/title_activity_sorry_mail" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BargeschActivity" />
        </activity>
        <activity
            android:name=".AppInfo"
            android:label="@string/title_activity_app_info" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BargeschActivity" />
        </activity>
        <activity
            android:name=".BargeschActivity"
            android:label="@string/title_activity_bargesch" >
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up" >
        </activity>
        <activity
            android:name=".StatistikActivity"
            android:label="@string/title_activity_statistik" >
        </activity>
        <activity
            android:name=".PreferenceActivity"
            android:label="@string/title_activity_preference" >
        </activity>
    </application>

</manifest>
